* {
	box-sizing: border-box;
}

h1 {
	font-size: 24px;
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}


.Gallery {
	margin: 0;
	border: 1px solid #cccccc;
	float: left;
	width: 33.33333333%;
}

.Gallery:hover {
	border: 1px solid #777777;
}

.Gallery img {
	width: 100%;
}

.desc {
	padding: 0;
	text-align: center;
}